# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
*.db

# Node
node_modules/

# macOS
.DS_Store

# Alembic
alembic/*.sqlite

# Runtime logs
logs/

# VSCode
.vscode/

# Generated reports
artifacts/
.vercel
